.asd {
    text-align: center;
    font-style:italic ;
    background-position:center;
    text-align: center;
}

.center {
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}


.sus {
    font-style: italic;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

li {
    font-size: x-large;
}


